*{
    margin:0;
    padding:0;
    font-family:cursive;
    box-sizing: border-box;
}

body{
    background-image: url('background.gif');
}

.todo-app{
    width: 100%;
    background: linear-gradient(#e66465, #9198e5);
    max-width: 540px;
    margin: 63px auto 63px auto;
    padding:10px 30px 70px;
    border-radius: 20px;
    border:5px solid wheat;
    align-items: center;
}
.todo-app h1{
    display:flex;
    align-items: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding:0px;
    text-align: center;
    font-size: 45px;
}

.heading{
    text-align: center;
    align-items: center;
    display: flex;
}

.row{
    display:flex;
    align-items: center;
        
    background-color: #9198e5;
    border-radius: 30px;
    padding-left:20px;
    margin-bottom:25px;
    margin-top: 15px;
}

input{
    flex:1;
    border:none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
    font-size: 18px;

}
button{
    border:none;
    outline: none;
    padding:16px 50px;
    background-color: crimson ;
    color:antiquewhite;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 22px;
    padding:12px 8px 12px 50px;
    user-select: none;
    cursor:pointer;
    position: relative;
}
ul li::before{
    content:'';
    position:absolute;
    height:28px;
    width:28px;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top:15px;
    left:8px;
}

ul li.checked{
    text-decoration: line-through;
    color:#2C2B2B;
}

ul li.checked::before{
    background-image:url(checked.png);
    border-radius: 5px;
    height:31px;
    width:31px;
}

ul li span{
    position: absolute;
    right:0;
    top: 10px;
    width:35px;
    height:35px;
    font-size: 37px;
    color:#555;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color:#9198e5 ;
    opacity:0.8;
}

ul li span:hover{
    background-color:darkslategrey;
    color:cornsilk;
}


@media screen and (max-width: 800px) {
    body {
        background-image: url(background-phone.jpg);
    }

    .todo-app {
        font-family: Arial, sans-serif;
        background:  linear-gradient(rgba(230, 100, 101, 0.8), rgba(145, 152, 229, 0.8));
        max-width: 90%;
        overflow-x: hidden;
        max-height: 190vh; /* Limit the maximum height to 80% of the viewport height */
        margin: 100px auto;
        padding: 10px 15px 70px;
    }

    .todo-app input {
        font-size: 30px;
        padding-right:10px;
        width: 280px;
    }

    .todo-app button {
        font-size: 30px;
        border-radius: 30px;
    }

    .row{
        margin: 10px 10px;
        margin-bottom: 30px;
    }

    .todo-app ul li {
        font-size: 30px;
        padding-left: 65px;
        margin-top: 10px;
    }

    .todo-app ul li::before {
        height: 40px;   
        width: 40px;
    }

    .todo-app ul li.checked::before {
        height: 40px;
        width: 40px;
    }

    .todo-app ul li span {
        width: 40px;
        height: 40px;
        font-size: 50px;
    }

    

}
